<br />
<% if notice -%>
  <div class="alert alert-primary" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%end-%>


<h1 class="display-4">Products</h1>

<%= link_to 'New Product', new_product_path, :class => "btn btn-outline-primary" %>
<br />
<br />
<div class="card-columns">
  <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= product.image %>">
        <div class="card-body">
          <p class="card-text"><%= product.price.to_s.gsub(/[^0-9]/, ' ')  %> Lei</p>
          <a href="<%= product.link %>" class="btn btn-primary" target="blank">Go to eMAG product</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <%= link_to 'Show', product, :class => "badge badge-success" %>
            <%= link_to 'Edit', edit_product_path(product), :class => "badge badge-warning" %>
            <%= link_to 'Destroy', product, method: :delete, :class => "badge badge-danger", data: { confirm: 'Are you sure?' } %>
          </small>
        </div>
      </div>
      <br />
  <% end %>
</div>
<br />
