<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <a href="<%= @product.link %>">Product</a>
  <br>
  <%= @product.price.to_s.gsub(/[^0-9]/, ' ')  %> Lei
  <br>
  <img src="<%= @product.image %>" style="width: 200px">
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
